.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.mythumbnail img{
    min-height:50px; 
    height:180px;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}